<md-content class="md-content-white" layout="column" layout-align="center center">
  <form name="createPeopleForm" class="full-width" flex="80">
    <div layout="row">
      <md-input-container flex="60">
        <label>Nome</label>
        <input required minlength="10" name="name" ng-model="person.name">
        <div ng-messages="createPeopleForm.name.$error">
          <div ng-message="required">Campo obrigatório</div>
          <div ng-message="minlength">O nome deve ter, no mínimo, 10 caracteres</div>
        </div>
      </md-input-container>
      <md-input-container flex="40">
        <label>Data de Nascimento</label>
        <input required name="dateOfBirth" ng-model="person.dateOfBirth" ui-mask="99/99/9999" ui-mask-placeholder-char="space">
        <div ng-messages="createPeopleForm.dateOfBirth.$error">
          <div ng-message="required">Campo obrigatório</div>
        </div>
      </md-input-container>
    </div>
    <div layout="row">
      <md-input-container flex="30">
        <label>CPF</label>
        <input required name="cpf" ng-model="person.cpf" ui-mask="999.999.999-99" ui-mask-placeholder-char="space">
        <div ng-messages="createPeopleForm.cpf.$error">
          <div ng-message="required">Campo obrigatório</div>
        </div>
      </md-input-container>
      <md-input-container flex="30">
        <label>Telefone</label>
        <input required name="phone" ng-model="person.phone" ui-mask="(99) 99999-9999" ui-mask-placeholder-char="space">
        <div ng-messages="createPeopleForm.phone.$error">
          <div ng-message="required">Campo obrigatório</div>
        </div>
      </md-input-container>
      <md-input-container flex="40">
        <label>Profissão</label>
        <md-select required placeholder="Selecione uma profissão" ng-model="person.occupationId">
          <md-option ng-repeat="occupation in occupations" ng-value="occupation.id">
            {{occupation.name}}
          </md-option>
        </md-select>
        <div ng-messages="createPeopleForm.occupationId.$error">
          <div ng-message="required">Campo obrigatório</div>
        </div>
      </md-input-container>
    </div>
    <div layout="row">
      <md-input-container flex="100">
        <label>Observações</label>
        <input name="comments" ng-model="person.comments">
        <div ng-messages="createPeopleForm.comments.$error">
          <div ng-message="required">Campo obrigatório</div>
        </div>
      </md-input-container>
    </div>
  </form>
  <md-button class="md-raised md-primary" ng-click="save()" ng-disabled="createPeopleForm.$invalid">
    Salvar
  </md-button>
  <a md-button class="md-warn" href="#!/people">
    Cancelar
  </a>
</md-content>