* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.main-container {
  display: flex;
  height: 100%;
  font-size: 16px;
  overflow: hidden;
}

.main-container__sidebar {
  flex-grow: 2;
  flex-basis: 100px;
  max-width: 250px;
  background-color: #fff;
}

.main-container__content {
  flex-grow: 10;
  flex-basis: 100px;
  height: 100%;
  overflow-y: auto;
}

.main-container__routing {
  flex: 1;
  padding: 24px;
  height: calc(100% - 50px);
}

.main-container__routing__view {
  background-color: #fff;
  padding: 24px;
  border-radius: 8px;
}
